<div class="modal-md">
    <div mat-dialog-title class="mb-head">
        <div class="close-section">
            <a (click)="onNoClick()"><i class="material-icons">close</i></a>
        </div>
        <div class="title-section">
                <h5 *ngIf="isAgregar">Agregar producto</h5>
                <h5 *ngIf="!isAgregar">Editar producto</h5>
        </div>
        <div class="options-section" *ngIf="productoForm.valid">
            <button mat-button color="primary" class="main-botton" (click)="guardar(productoForm)"  *ngIf="isAgregar">
                <i class="material-icons">done</i> Guardar
            </button>
            <button mat-button color="primary" class="main-botton" (click)="editar(productoForm)"  *ngIf="!isAgregar">
                <i class="material-icons">done</i> Editar
            </button>
        </div>
    </div>
    <mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="form-container container">
                        <form novalidate #productoForm="ngForm">
                            <div class="row">
                                <!-- <div class="col-sm-12 col-md-6 form-col" *ngIf="isAgregar"> -->
                                    <div class="col-sm-12 col-md-6 form-col" >
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Nombre</mat-label>
                                            <input type="text" maxlength="100" matInput placeholder="Nombre" [(ngModel)]="producto.nombre" required #nombre="ngModel" id="nombre" name="nombre" title="Nombre">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div> 
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Descripción</mat-label>
                                            <input type="text" maxlength="500" matInput [(ngModel)]="producto.descripcion" required #descripcion="ngModel" id="descripcion" name="descripcion" title="Descripción">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>                 
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Mayoreo</mat-label>
                                            <input type="number" min="0" matInput placeholder="Mayoreo" [(ngModel)]="producto.mayoreo" required #mayoreo="ngModel" id="mayoreo" name="mayoreo" title="Mayoreo">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>            
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Menudeo</mat-label>
                                            <input type="number" min="0" matInput placeholder="Menudeo" [(ngModel)]="producto.menudeo" required #menudeo="ngModel" id="menudeo" name="menudeo" title="Menudeo">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div> 
                            </div>
                            <div class="row"> 
                                <div class="col-sm-12 col-md-6 form-col">
                                    <div class="form-group">
                                        <mat-form-field class="input-disabled" appearance="outline" style="width: 100%">
                                            <mat-label>Número de piezas</mat-label>
                                            <input type="number" min="1" matInput placeholder="Menudeo" [(ngModel)]="producto.nPiezas" required #menudeo="ngModel" id="nPiezas" name="nPiezas" title="Número de piezas">
                                            <span matSuffix class="matSuffixEmpty"></span>
                                        </mat-form-field>
                                    </div>
                                </div>                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
    </mat-dialog-actions>
</div>