<div class="navbar-main">
    <div class="nv-logo">
        <a href="#">
            <img src="../../../../../assets/media/logo.jpeg" class="nv-logo-big" alt="anja" />
        </a>
        <a href="#">
            <img src="../../../../../assets/media/logo.svg" class="nv-logo-small" alt="anja" />
        </a>
    </div>
    <div class="nv-empresa-datos">
    </div>
    <div class="nv-options">            
        <div class="nv-option-element nv-option-profile dropdown show">
            <div class="nv-img-profile pointer" title="Perfil"  style="cursor:pointer">
                <img src="../../../../../assets/media/user.svg" mat-button [matMenuTriggerFor]="menu"/>
                <mat-menu #menu="matMenu">
                    <div class="nv-user-data">
                        <span title="{{iUser.user}}">{{iUser.user}}</span>
                    </div>
                    <button mat-menu-item  (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Salir</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>