<div class="sidebar-menu show" [class.menuHide]="isOpen">
        <ul>
            <li routerLinkActive="menuActive" [routerLink]="['./','productos']" >    
                <a>
                    <i class="material-icons-outlined">sell</i>Productos
                </a>    
            </li>    
            <li routerLinkActive="menuActive" [routerLink]="['./','pedidos']" >    
                <a>    
                    <i class="material-icons-outlined">assignment</i>Pedidos
                </a>    
            </li>  
            <li routerLinkActive="menuActive" [routerLink]="['./','sublimados']" >    
                <a>
                    <i class="material-icons-outlined">iron</i>Sublimado
                </a>    
            </li>   
            <li routerLinkActive="menuActive" [routerLink]="['./','usuarios']" >    
                <a>
                    <i class="material-icons-outlined">person</i>Usuarios
                </a>    
            </li>      
        </ul>    
    </div>    
